.quick-menu {
  width: 90px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 60px;
  padding-bottom: 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 16;
  .quick-menu__item {
    height: 90px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/common/dg_quick_menu.png");
    &:hover {
      .quick-menu-content {
        opacity: 1;
        height: 283px;
      }
    }
  }
  &-content {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 90px;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .quick-menu__link {
      display: block;
      text-align: center;
      color: #efeeec;
      width: 84px;
      height: 84px;
      border: solid 1px $white;
      background-color: #000;
      position: relative;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin: 6px auto;
      &1 {
        background-image: url('../images/common/dg_quick_icon1.png');
      }
      &2 {
        background-image: url('../images/common/dg_quick_icon2.png');
      }
      &3 {
        background-image: url('../images/common/dg_quick_icon3.png');
      }
      &:hover {
        .quick-menu__link-text {
          background-color: rgba(253, 81, 204, 0.9);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        color: $white;
        letter-spacing: -0.28px;
        font-size: 16px;
        z-index: 1;
      }
    }
  }
}
.sub {
  .quick-menu {
    padding-bottom: 0;
  }
}
.main-quick-button {
  position: absolute;
  right: 503px;
  top: calc(50% - 37.5px);
  width: 22px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: 50% 50%, 0 0;
  background-image: url("../images/main/main-quick-open-arrow.png"), url("../images/main/main-quick-menu-button.png");
  background-size: 5px, auto;
  z-index: 111;
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  &.is--active {
    right: calc(100% - 80px);
    background-position: 50% 50%, 0 0;
    background-image: url("../images/main/main-quick-close-arrow.png"), url("../images/main/main-quick-menu-button.png");
    background-size: 5px, auto;
  }
}
.main-quick-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  padding-left: 55px;
  width: 503px;
  height: 100%;
  z-index: 15;
  display: flex;
  padding-top: 313px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url("../images/main/main-quick-bg.png");
  background-color: $navy-blue;
  background-position: 0 100%;
  transform: translate(0, 0);
  -webkit-transition: width 0.5s ease, transform 0.5s ease;
  -moz-transition: width 0.5s ease, transform 0.5s ease;
  -o-transition: width 0.5s ease, transform 0.5s ease;
  transition: width 0.5s ease, transform 0.5s ease;
  //&:after {
  //  content: '';
  //  width: 100%;
  //  height: 1px;
  //  opacity: 0.2;
  //  background-color: #a4937f;
  //  position: absolute;
  //  top: 560px;
  //  left: 0;
  //}
  &.is--active {
    transform: translate(80px, 0);
    width: 100%;
    padding-left: 5%;
    .main-quick-button {
      background-position: 50% 50%, 0 0;
      background-image: url("../images/main/main-quick-close-arrow.png"), url("../images/main/main-quick-menu-button.png");
      background-size: 5px, auto;
    }
    .main-quick-tel {
      left: calc(100% - 300px - 88px);
    }
    .main-quick-navi {
      display: block;
    }
  }

  .main-quick-tel {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    position: absolute;
    top: 62px;
    left: 205px;
    width: 212px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url("../images/common/header-tel-white.png");
  }
  &-subject {
    line-height: 1.26;
    letter-spacing: -2.82px;
    text-align: left;
    color: #f4f4f4;
    font-size: 47px;
    font-weight: 300;
    display: flex;
    align-items: center;
    b {
      font-weight: bold;
    }
    span {
      line-height: 1.26;
      letter-spacing: -2.82px;
      color: #f4f4f4;
      font-size: 47px;
      font-weight: 300;
    }
    .main-quick-menu-line {
      width: 53px;
      height: 1px;
      display: inline-block;
      margin-right: 10px;
      background: $white;
    }
  }
  &__description {
    font-size: 16.5px;
    font-weight: 300;
    line-height: 1.58;
    letter-spacing: -0.33px;
    color: rgba(244, 244, 244, 1);
    margin: 60px 0 60px;
  }
  &__icon {
    margin-bottom: 29px;
  }
  .main-quick-text-content {
    display: flex;
  }
  .main-quick-text__icon {
    display: block;
    text-align: center;
    margin-bottom: 17px;
  }
  .main-quick-text__item {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.28px;
    text-align: center;
    color: rgba(244, 244, 244, 1);
    position: relative;
    &:hover {
      color: $lPoint;
      .main-quick-text__icon {
        background-image: url("../images/main/main-quick-text-icon1-hover.png");
      }
    }
    .main-quick-text__icon {
      background-repeat: no-repeat;
      background-position: 50% 0;
      height: 40px;
      width: 100%;
      background-image: url("../images/main/main-quick-text-icon1.png");
    }
    & + .main-quick-text__item {
      &:hover {
        .main-quick-text__icon {
          background-image: url("../images/main/main-quick-text-icon2-hover.png");
        }
      }
      .main-quick-text__icon {
        background-image: url("../images/main/main-quick-text-icon2.png");
      }

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 108px;
        background: $white;
        opacity: 0.1;
        left: 0;
        bottom: 0;
      }
      & + .main-quick-text__item {
        .main-quick-text__icon {
          background-position: 39% 0;
          background-image: url("../images/main/main-quick-text-icon3.png");
        }
        &:hover {
          .main-quick-text__icon {
            background-image: url("../images/main/main-quick-text-icon3-hover.png");
          }
        }
      }
    }
  }
  .main-quick-navi {
    margin-left: 10%;
    margin-top: -90px;
    display: none;
    &-header {
      display: flex;
      align-items: center;
      @include responsive('1700px', 'max') {
        width: 90%;
        justify-content: space-between;
      }
    }
    &-subject {
      color: $lPoint;
      font-size: 36.5px;
      font-weight: 300;
      line-height: 1.07;
      b {
        font-family: $mont;
        font-size: 52px;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 379px;
        height: 1px;
        margin-left: 36px;
        margin-bottom: 18px;
        background: rgba(164, 147, 127, 0.4);
        @include responsive('1700px', 'max') {
          content: none;
        }
      }
    }
    &-info {
      border-radius: 18px;
      padding: 4px 32px 6px 33px;
      border: solid 1px rgba(164, 147, 127, 0.4);
      color: $lPoint;
      font-family: $mont;
      span {
        font: inherit;
      }
    }
    &-list {
      margin-top: 200px;
      display: flex;
      color: #fff;
      text-transform: uppercase;
      .main-navi__item {
        display: block;
        width: 160px;
        padding: 20px;
        box-sizing: border-box;
        border: 4px solid transparent;
        &:hover {
          border: solid 4px #b49b76;
        }
        @include responsive('1500px', 'max') {
          width: 140px;
        }
      }
      .main-navi__link {
        font-family: $mont;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.86;
        letter-spacing: -0.28px;
        &-icon {
          display: block;
          margin-bottom: 11px;
        }
        &.disabled {
          opacity: 0.4;
        }
      }
      .main-navi-depth {
        padding: 20px 0;
        &__link {
          font-size: 16.5px;
          font-weight: 300;
          line-height: 1.85;
          letter-spacing: -0.5px;
          color: rgba(244, 244, 244, 1);
        }
      }
    }
  }
}
